  <!DOCTYPE html>
<html lang="en">

<head>
    <title> My Express</title>
    
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
      
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
    
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Kaushan+Script|Merienda|Roboto|Satisfy" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
      <link rel="stylesheet" href="assets/booking.css" >
    </head>
    <style>
        
        #bbox{
            
            width:200px;
            height: 80px;
        }
            .class11{ border: 2px solid red;}
            .class22{ background-color: yellow;}
            .class33{ margin-left: 50px;}
         .class333{ margin-left: 500px;}
            .class44{ width: 300px;}
    </style>
    
 <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="assets/main.js"></script>
       
<script type="text/javascript">
 window.onload = function(){
     document.getElementById('A1').classList.add(localStorage.getItem('lo'));
 }
    </script>
<body>
    