<!DOCTYPE html>
<html>
<head>
    <link href="/assets/prostyles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
    <h1> Contact us</h1>
    <p> Call us on 07014740355</p>
        <h2>Hobbies</h2>
        <br>
        <br>
        <p>You contacted <%= data.who %> in the <%= data.departement %> departement.</p>
        <p> We would reply you at <%= data.email %></p>
       
    </body>
</html>