  <!DOCTYPE html>
<html lang="en">
<head>
    <title> Haske-cleaning-service</title>
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
    <script src="assets/main.js"></script>    
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Charmonman|Lobster|Lora|Montserrat|Playfair+Display|Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kaushan+Script|Lobster|Lora|Montserrat|Playfair+Display|Roboto+Mono" rel="stylesheet">



      <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cinzel|Encode+Sans+Condensed|Srisakdi" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Kaushan+Script|Merienda|Roboto|Satisfy" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
      <link rel="stylesheet" href="assets/index.css">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
   .row div{
       padding: 20px 10px;
       border:1px solid gray;
   }
   </style>
    </head>
<body>

<div id="hero">
<div id="hero-overlay"></div>
<div class="inner_container">
<h3 class="display-4">Haske Cleaning Service</h3>
<p>Restoring order and Eligance</p>
</div> </div>

<div id="navigation-cover">
<div class="navigation-child">
<div class="navigation-fs-child"><div class="navigation-fs-child2"><a class="nav-child-det" href="/gallary"><i class="fas fa-camera-retro"></i> Gallary</a></div></div>
<div class="navigation-fs-child"><div class="navigation-fs-child2"><a  class="nav-child-det" href="#over1"><i class="fas fa-phone-volume"></i>Contact</a></div></div>
<div class="navigation-fs-child"><div class="navigation-fs-child2"><a  class="nav-child-det" href="/booking"><i class="far fa-address-book"></i> Booking</a></div></div>
<div class="navigation-fs-child"><div class="navigation-fs-child2"><a  class="nav-child-det" href="/article"> <i class="far fa-newspaper"></i>Article</a></div></div>
<div class="navigation-fs-child"><div class="navigation-fs-child2"><a  class="nav-child-det" href="/pricing"><i class="fas fa-money-bill-alt"></i> Pricing</a></div></div>
</div>
</div>



<div class="container-fluid">
<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2 id="about" class="about-us">About Us</h2>
<p class="p"> Haske cleaning service provides  a range of services including office and residential cleaning, housekeeping  guest house management, post-construction cleaning, floor maintenance and restoration, carpet and upholstery cleaning, office cleaning, fumigation  pest control, recruitment, training  consultancy.
We add value to our customers’ lives by making their office and home environment as clinically clean and conducive as possible. We employ modern methods, using proven equipment and materials together with well-trained personnel to deliver the utmost in cleaning services.</p>
</div>
</div>

<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2 id="about" class="about-us">Our Mission</h2>
<p class="p"> Haske Cleaning Service's mission is to provide our customers with all residential cleaning services
in an environmentally sound, completely trustworthy and professional manner. We exist to attract and maintain customers.
When we adhere to this maxim, everything else will fall into place. Our Services will exceed the expectations of our customers. 
</div>
</div>


<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2 class="our-services">Our Services</h2>
</div>
</div>



<div class="row">
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg5"><div id="over"></div><h3 class="display-4">We Vacuum</h3>
</div></div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg6"><div id="over"></div><h3 class="display-4">Polish Furnitures</h3>
</div></div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg7"><div id="over"></div><h3 class="display-4">Handle Pests and Weed Control</h3>
</div></div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg8"><div id="over"></div><h3 class="display-4">Handle Move-In Cleaning/Post Construction cleaning</h3>
</div></div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg9"><div id="over"></div><h3 class="display-4">Handle Office Cleaning</h3>
</div></div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg10"><div id="over"></div><h3 class="display-4">And other Cleaning Services</h3>
</div>
</div>
</div>

<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2 class="our-services">Rooms we Clean</h2>
</div>
</div>

<div class="row">
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg"><div id="over"></div><h3 class="display-4">Living Room</h3>
</div></div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg2"><div id="over"></div><h3 class="display-4">BedRoom</h3>
</div>
</div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg3"><div id="over"></div><h3 class="display-4">BathRoom</h3>
</div>
</div>

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="iimg4"><div id="over"></div><h3 class="display-4">Children's Play Room</h3>
</div>
</div>
</div>



<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 contact">
<div id="over1">
<h2 class="contact-us">Contact Us</h2>
<h4 class="contact-us"> Email: HaskeMunza@gmail.com</h4>
<h4 class="contact-us"> Number: 08105224592, 08131680296</h4>
<h4 class="contact-us"> Web Developer: Ononiwu Obianuju Francis</h4>
</div>
</div>
</div>
</div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>
</html>

 
