<!DOCTYPE html>
<html lang="en">
<head>
<title> Gallary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Fredericka+the+Great|Lobster+Two|Nanum+Myeongjo|Rajdhani|Sail" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Cinzel|Fredericka+the+Great|Lobster+Two|Nanum+Myeongjo|Rajdhani|Sail" rel="stylesheet">
          <link rel="stylesheet" href="assets/pricing.css">
   </head>
<body>
<div class="container">

<div class="cover">

<div class="inn-cover00">
<h3 class"starter">Pricing:</h3>
</div>
<div class="inn-cover11">
<h3>(Prices are flexible/negotiable)</h3>
</div>

</div>


<div class="cover">

<div class="inn-cover0">
<h3>Basic Cleaning:</h3>
</div>


<div class="inn-cover1">
<p>- Vacuuming</p>
<p>- Floor Cleaning</p>
<p>- Cobwebs Removal</p>
<p>- Dusting Surface</p>
<p>- N1500(Per room)</p>
</div>

</div>


<div class="cover">
<div class="inn-cover0">
<h3>Deep Cleaning:</h3>
</div>


<div class="inn-cover1">
<p>- Basic Cleaning Plus</p>
<p>- window seals Cleaning</p>
<p>- Tough Stain removal from surfaces</p>
<p>- Furniture Polishing </p>
<p>- Appliances Maintainance</p>
<p>- Washing of Kitchen Utensils and others</p>
<p>- N2,500(Per Room)</p>
</div>

</div>



<div class="cover">

<div class="inn-cover0">
<h3>Move in Cleaning: </h3>
</div>


<div class="inn-cover1">
<p>- Post Construction Cleaning</p>
<p>- N3,000 - N5,000(Per Room)</p>
</div>

</div>



<div class="cover">
<div class="inn-cover0">
<h3>Pest Control: </h3>
</div>


<div class="inn-cover1">
<p>- Fumigation</p>
<p>- N500(Per Square Meter)</p>
</div>

</div>



</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>
</html>
