<!DOCTYPE html>
<html>
<head>
    <link href="/assets/prostyles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
    <h1> Welcome to the profile of <%= person %></h1>
    <p> Hello Kitty, u are pretty like the sun and ur eyes are as blue as light</p>
        <h2>Hobbies</h2>
        <ul>
        <% data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
            <% }); %>
        </ul>
    </body>
</html>